.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
}

div{
    display: flex;
    flex-wrap: wrap;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #403F3F;
}