.parent {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    width: 600px;
    align-content: space-between;
    height: 300px;
    background-color: #eeeeee;
    justify-content: space-evenly;
}

.parent div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(95% / 3);
    height: 40px;
    background-color: #F44336;
    color: white;
}