div{
    width: 300px;
    height: 200px;
    margin: 30px auto;
    background-color: #ddd;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03a9f4;
    position: relative;
}
div::before{
    content: "";
    width: 300px;
    height: 200px;
    background-color: #03a9f4;
    position: absolute;
    z-index: -1;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}
div::after{
    content: "";
    width: 300px;
    height: 200px;
    background-color: #e91e63;
    position: absolute;
    z-index: -2;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}