*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.parrent {
    padding: 10px;
    height: 200px;
    background-color: #f2f2f4;
    margin-top: 40px;
    width: 400px;
    text-align: center;
    transition: margin-top .5s;
    -webkit-transition: margin-top .5s;
    -moz-transition: margin-top .5s;
    -ms-transition: margin-top .5s;
    -o-transition: margin-top .5s;
}

.parrent:hover {
    margin-top: 0;
}

.parrent:hover .child{
    margin-top: 10px;
}

.child {
    padding: 10px;
    background-color: #dededc;
    transition-delay: .5s;
    transition-duration: .5s;
}
